<app-navbar></app-navbar>
<!--mostrar lista de proveedores potenciales a ser evaluados inicialmente-->
<header class="bg-dark text-white">
  <div class="container text-center">
    
    <h3 class=" display-4">Lista de proveedores</h3>
    <hr>
    <h5 class=" silence text-info  display-5 ">Evaluación Anual</h5>
    
    
    <br>
  </div>
</header>
<hr>
<div class="container text-center table-responsive ">
  <table class="table table-hover ">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prov of proveedores">
        <th scope="row">{{prov.id_prov}}</th>
        <td>{{prov.nombre_prov}}</td>
        <td>
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-grape" routerLink="/evaluar_Anual">Ver más</button>
            <button type="button" class="btn btn-success" routerLink="/evaluar_Anual">Evaluar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>




