<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="../../../assets/Imagen111.png" width="70" height="80" alt="Resonsive image" loading="lazy">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active current" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/" >Pagina principal</a>
        </li>
        <li class="nav-item" *ngIf="userType == null && userID == null">
          <a class="nav-link">Recomendar</a>
        </li>
        <!--LINKS FOR PROVIDERS-->
          <li class="nav-item" *ngIf="(userType == 2 && userID !=null)">
            <a class="nav-link" >Productos</a>
          </li>
          <li class="nav-item" *ngIf="(userType == 2 && userID !=null)">
            <a class="nav-link" >Pedidos</a>
          </li>
          <li class="nav-item" *ngIf="(userType == 2 && userID !=null)">
            <a class="nav-link" >Contratos</a>
          </li>
          <!--LINKS FOR PRODUCERS-->
          <li class="nav-item" *ngIf = "(userType == 1 && userID !=null)">
            <a class="nav-link">Formula Ev.</a>
          </li>
          <li class="nav-item" *ngIf = "(userType == 1 && userID !=null)" routerLinkActive="active current">
            <a class="nav-link" routerLink="/i_test_provider" >Ev. Inicial</a>
          </li>
          <li class="nav-item" *ngIf = "(userType == 1 && userID !=null)">
            <a class="nav-link">Ev. Anual</a>
          </li>
          <li class="nav-item" *ngIf="(userType == 1 && userID !=null)">
            <a class="nav-link" >Pedidos</a>
          </li>
          <li class="nav-item" *ngIf="(userType == 1 && userID !=null)">
            <a class="nav-link" >Contratos</a>
          </li>
          <!--USER PROFILE-->
          <li class="nav-item" *ngIf = "(userType != null && userID !=null)">
            <a class="nav-link">usuario: {{username}}</a>
          </li>
      </ul>
      
      <a routerLink="/select_type">
        <button class="btn btn-outline-primary btn-inline my-2 my-lg-0" *ngIf="(userID == null) && (userType == null)">Iniciar Sesión</button>
      </a>
      <a *ngIf="((userType == 1) || (userType == 2)) || userID !=null">
        <button class="btn btn-outline-danger btn-inline my-2 my-lg-0" (click)="Logout()">Cerrar Sesión</button>
      </a>
    </div>
  </nav>
  <!--
      quick routes guard solution syntax (always add the ngIf as follows)
    2 for provider routes 
    1 for producer routes

    <li class="nav-item" *ngIf="(userType == 2 && userID !=null)">
            <a class="nav-link" >for providers</a>
    </li>
    <li class="nav-item" *ngIf = "(userType == 1 && userID !=null)">
            <a class="nav-link">for producers</a>
    </li>

  -->