<app-navbar></app-navbar>

<header class="bg-dark text-white">
    <div class="container text-center">

      <h3 class=" display-4">Realizar Pedido</h3>
      <hr>

    </div>
</header>

<h2 class="text-center">Seleccione Presentaciones contratar</h2>
<hr>
<h4 class="text-center">Esencias</h4>
<table class="table table-hover ">
    <thead class="table-dark">
      <tr>
        <th scope="col">CAS</th>
        <th scope="col">NOMBRE COMERCIAL</th>
        <th scope="col">PRECIO</th>
        <th scope="col">CONENIDO NETO</th>
        <th scope="col">UNIDADES EMPAQUE</th>
        <th scope="col">LISTAR</th>
        <th scope="col">CONTRATAR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let es of ListaPresentacionesEsencias">
        <th scope="row">
            {{es.cas}}
          </th>
          <td>{{es.nombre}}</td>
          <td>$ {{es.precio}}</td>
          <td>{{es.contenido}}</td>
          <td>{{es.cantidad_pack}}</td>
          <td>
            <input type="number" name="LGform1_pwd" class="form-control" placeholder=""  #cantidad="ngModel" [(ngModel)]="es.cantidad"/>
          </td>
          <td>
              <button class="btn btn-primary" (click)="ContratarPresentacion(es.sku,es.cantidad,es.precio)">
                  Comprar
              </button>
          </td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>
  <br>
  <h4 class="text-center">INGREDIENTES</h4>
  <table class="table table-hover ">
      <thead class="table-dark">
        <tr>
          <th scope="col">CAS</th>
          <th scope="col">NOMBRE COMERCIAL</th>
          <th scope="col">PRECIO</th>
          <th scope="col">CONENIDO NETO</th>
          <th scope="col">UNIDADES EMPAQUE</th>
          <th scope="col">LISTAR</th>
          <th scope="col">CONTRATAR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ing of ListaPresentacionesIngredientes">
          <th scope="row">
              {{ing.cas_oi}}
            </th>
            <td>{{ing.nombre}}</td>
            <td>{{ing.precio}}</td>
            <td>{{ing.contenido}}</td>
            <td>{{ing.cantidad_pack}}</td>
            <td>
              <input type="number" name="LGform1_pwd" class="form-control" placeholder=""  #cantidad="ngModel" [(ngModel)]="ing.cantidad"/>
            </td>
            <td>
                <button class="btn btn-primary" (click)="ContratarPresentacion(ing.sku,ing.cantidad,ing.precio)">
                  Comprar
                </button>
            </td>
        </tr>
      </tbody>
    </table>
  <hr>
<h2 class="text-center">Seleccione Metodos de envio</h2>
<hr>
<div class="container text-center table-responsive ">
    <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Pais</th>
            <th scope="col">Tipo de Envio</th>
            <th scope="col">Recargo</th>
            <th scope="col">Operacion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let env of ListaMetodosEnvio" >
            <th scope="row">{{env.nombre_pais}}</th>
            <td>{{env.tipo_envio}}</td>
            <td>{{env.porc_contratado}} %</td>
            <td>
                <button class="btn btn-primary" (click)="ListarMetodoEnvio(env.id_pais,env.porc_contratado,env.tipo_envio)">
                    Utilizar Envio
                </button>
            </td>
          </tr>
        </tbody>
      </table>

</div>
<hr>
<h2 class="text-center">Seleccione Metodos de envio</h2>
<hr>
<div class="container text-center table-responsive ">
    <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Modalidad</th>
            <th scope="col">Operacion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pag of ListaMetodosPago" >
            <th scope="row">{{pag.case}}</th>
            <td>
                <button class="btn btn-primary" (click)="ContratarPago(pag.metodo_pago)">
                    Usar modalida
                </button>
            </td>
          </tr>
        </tbody>
      </table>

</div>

<hr>
<div class="container">
  <button class="btn btn-success btn-block" (click)="ArmarPedido()">
    Procesar pedido
  </button>
</div>
<hr>
<hr>
<div class="container">
  <button class="btn btn-primary btn-block" (click)="CotizarPedido()">
    Cotizar
  </button>
</div>

<br>
