<header class="bg-dark text-white">
    <div class="container text-center">
      
      <h3 class=" display-4">Alternativas de envio</h3>
      <hr>
      <br>
    </div>
</header>
<br>
<div class="container text-center table-responsive">
    <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Pais</th>
            <th scope="col">Porcentaje</th>
            <th scope="col">Via</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">tets</th>
            <td>kds</td>
            <td>jkahdj</td>
          </tr>
        </tbody>
      </table>
    
</div>
