<header class="bg-dark text-white">
    <div class="container text-center">
      
      <h3 class=" display-4">Alternativas de envio</h3>
      <hr>
      <br>
    </div>
</header>
<br>
<div class="container text-center table-responsive">
    <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Pais</th>
            <th scope="col">Via</th>
            <th scope="col">Porcentaje base</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let env of alt_envio" >
            <th scope="row">{{env.nombre_pais}}</th>
            <td>{{env.tipo_envio}}</td>
            <td>{{env.porc_base}} %</td>
          </tr>
        </tbody>
      </table>
    
</div>
