<app-navbar></app-navbar>


<header class="bg-dark text-white">
    <div class="container text-center">

      <h3 class=" display-4">Creación de Formula</h3>
      <hr>
      <br>
    </div>
</header>

<body>
    <div class="container register">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Fórmula Ev. Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Fórmula Ev. Anual</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active text-align form-new" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Fórmula Ev. Inicial</h3>
                        <div class="row register-form">
                            <div class="col-md-12">
                                <form method="post" #formulaInicial = "ngForm" ngSubmit ="AgregarCriterios(formulaInicial)">
                                    <div class="form-group">
                                        <div class="row">
                                            <h5>Escala de aprobación</h5>
                                            <div class="col">
                                              <input type="number" class="form-control" placeholder=" Min" name ="escala minima" #escala_min ="ngModel" [(ngModel)] = "escala_v_min">
                                            </div>
                                            <div class="col">
                                              <input type="number" class="form-control" placeholder=" Max" name="escala maxima" #escala_max="ngModel" [(ngModel)] = "escala_v_max">
                                            </div>
                                          </div>
                                        
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <h5>Rango de aprobación</h5>
                                            <div class="col">
                                              <input type="number" class="form-control" placeholder=" Porcentaje máx" name="rango aprobacion" #rango_aprob="ngModel" [(ngModel)]="escala_rango_porcentual" >
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    <br>
                                    <h3>Criterios de evaluación</h3>
                                    <hr>
                                    <div class="form-group">
                                        <br>
                                        <h5>Criterio 1: Ubicación Geográfica</h5>
                                        
                                        <input type="number" name="LGform1_pwd" class="form-control" placeholder="Introduzca peso" name="peso1" #pesoUG="ngModel" [(ngModel)]="peso_c1"/>
                                    </div>
                                    <div class="form-group">
                                        <br>
                                        <h5>Criterio 2: Alternativa de pago</h5>
                                        
                                        <input type="number" name="LGform1_pwd" class="form-control" placeholder="Introduzca peso" name="peso2" #pesoAP="ngModel" [(ngModel)]="peso_c2" />
                                    </div>
                                    <div class="form-group">
                                        <br>
                                        <h5>Criterio 3: Alternativa de envio</h5>
                                        
                                        <input type="number" name="LGform1_pwd" class="form-control" placeholder="Introduzca peso" name="peso3" #pesoAE="ngModel" [(ngModel)]="peso_c3" />
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btnContactSubmit" (click)="CrearFormulaInicial()">Crear Formula</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show text-align form-new" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h3  class="register-heading">Fórmula Ev. anual</h3>
                        <div class="row register-form">
                            <div class="col-md-12">
                                <form method="post">
                                    <div class="form-group">
                                        <div class="row">
                                            <h5>Escala de aprobación</h5>
                                            <div class="col">
                                              <input type="number" class="form-control" placeholder=" Min" name="escala_min" #escalaAmin="ngModel" [(ngModel)]="escala_a_min" />
                                            </div>
                                            <div class="col">
                                              <input type="number" class="form-control" placeholder=" Max"  name="escala_max" #escalaAmax="ngModel" [(ngModel)]="escala_a_max" />
                                            </div>
                                          </div>
                                        
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <h5>Rango de aprobación</h5>
                                            <div class="col">
                                              <input type="number" class="form-control" placeholder=" porcentaje máx"  name="rango_aprob" #rango="ngModel" [(ngModel)]="escala_a_rango">
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btnContactSubmit" (click)="AgregarCriterioExito()">Crear Formula</button>                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


