.card{
    background: #1e272e;
    margin-top: 3%;
    padding: 3%;
    color: white;
    border-top-right-radius: 1.5rem;
}

.btnContactSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
    margin-right: 6%;
    background-color: white;
    color: blue;
    margin-top: 4%;
}