.text-info{

    color:whitesmoke !important;
}

.btn-grape
{
    background-color: #40407a !important;
    color: whitesmoke;
}

.btn-grape:hover
{
    background-color: #2c2c54 !important;
    color: whitesmoke;
}
