<app-navbar></app-navbar>
<!--mostrar lista de proveedores potenciales a ser evaluados inicialmente-->


<h1 class="display-3 text-center">Lista de proveedores</h1>
<hr>

<br>

<table class="table table-hover text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
        <th scope="col">País</th>
        <th scope="col">Continente</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
            <button  value="Ver más..." type="button" class="btn btn-dark" >
                Ver más...
            </button>

        </td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><button value="Ver más..." type="button" class="btn btn-dark">Ver más...</button></td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><button value="Ver más..." type="button" class="btn btn-dark" >Ver más...</button></td>
        
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><button value="Ver más..." type="button" class="btn btn-dark">Ver más...</button></td>
        
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><button value="Ver más..." type="button" class="btn btn-dark">Ver más...</button></td>
        
      </tr>
    </tbody>
  </table>




