<app-navbar></app-navbar>

<header class="bg-dark text-white">
    <div class="container text-center">
      
      <h3 class=" display-4">Contratos</h3>
      <hr>
    </div>
</header>
<br>
<div class="container text-center table-responsive ">
    <table class="table table-hover ">
      <thead class="table-dark">
        <tr>
          <th scope="col"># Contrato </th>
          <th scope="col">Id productor</th>
          <th scope="col">Nombre productor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of productores">
          <th scope="row">{{prod.numero_contrato}}</th>
          <td>{{prod.id_prod}}</td>
          <td>{{prod.nombre_prod}}</td>
          <button type="button" class="btn btn-success " [routerLink]="['/compras/contratos/detalle/',prod.id_prov,prov.numero_contrato]">Detalle</button>
          
        </tr>
      </tbody>
    </table>

  <hr>
</div> 
