
<header class="bg-dark text-white">
    <div class="container text-center">

      <h3 class=" display-4">Alt. De pago</h3>
      <hr>
      <br>
    </div>
</header>


  <br>

<div >
    <h1 class="text-left">Pago parcial</h1>
    <br>
</div>

<div  >
        <h1 class="text-left">Pago por cuotas </h1>
        <br>


  <div class="container text-center table-responsive ">
    <table class="table table-hover ">
      <thead class="table-dark">
        <tr>
          <th scope="col">Periodo de pago</th>
          <th scope="col">Porcentaje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of metodo_pago" >
          <th scope="row">m.por_cuota</th>
            <td> m.periodo_vigencia</td>
        </tr>
      </tbody>
    </table>


    <hr>
    </div>
</div>
