<app-navbar></app-navbar>


<header class="bg-dark text-white">
    <div class="container text-center">
        <br>
      <h3 class=" display-4">Contrato</h3>
      <h3 class=" display-6">{{numero_contrato}}</h3>
      <hr>     
      <br>
    </div>
  </header>

  <br>

<div class="row">
<div class="col-md-6">

<div class="container card">
    <header class="bg-dark text-white">
        <div class="container text-center">
    
          <h3 class=" display-4">Alternativas de envio</h3>
          <hr>
          <br>
        </div>
    </header>
    <br>
    <div class="container text-center table-responsive ">
        <table class="table table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">Pais</th>
                <th scope="col">Tipo de Envio</th>
                <th scope="col">Recargo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of metodoEnvioContratados" >
                <th scope="row">{{e.nombre_pais}}</th>
                <td>{{e.case}}</td>
                <td>{{e.porc_contratado}} %</td>
              </tr>
            </tbody>
          </table>
    
    </div>
    <br><br>

      <div class="container text-center table-responsive ">
        <table class="table table-hover ">
          <thead class="table-dark">
            <tr>
              <th scope="col">Metodo De Pago</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of metodoPagoContratados" >
              <td>{{p.case}}</td>   
            </tr>
          </tbody>
        </table>
    
    
         <hr>
        </div>       
    </div>

</div>
<div class="col-md-6">
<header class="bg-dark text-white">
    <div class="container text-center">
  
      <h3 class=" display-4">Catálogo</h3>
      <hr>
      <br>
    </div>
  </header>
  <br>
  <div *ngIf="EsenciasContratadas[0] != null ">
      <h1 class="text-center">Esencias</h1>
  <br>
  
  <div class="container text-center table-responsive ">
      <table class="table table-hover ">
        <thead class="table-dark">
          <tr>
            <th scope="col">CAS</th>
            <th scope="col">Nombre comercial</th>
            <th scope="col">Nombre quimico</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let es of EsenciasContratadas">
            <th scope="row">
                  {{es.cas}}
                
              </th>
              <td>{{es.nombre_comercial}}</td>
              <td>{{es.nombre_quimico}}</td>
          </tr>
        </tbody>
      </table>
  
    </div>
    <hr>
  </div>
  
  
  <div *ngIf="IngredientesContratados[0] != null">
      <h1 class="text-center">Ingredientes</h1>
      <br>
      <div class="container text-center table-responsive">
          <table class="table table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">CAS</th>
                <th scope="col">Nombre Comercial</th>
                <th scope="col">Nombre Químico</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ing of IngredientesContratados">
                <th scope="row">
                    {{ing.cas_oi}}
                  
                </th>
                <td>{{ing.nombre_comercial}}</td>
                <td>{{ing.nombre_quimico}}</td>
              </tr>
            </tbody>
          </table>
  
        </div>
  
  </div>
  






</div>
