.jumbotron{
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(181,198,208,1)), color-stop(13%, rgba(181,198,208,1)), color-stop(60%, rgb(184, 204, 218)), color-stop(100%, rgba(224,239,249,1)));
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #2c2c54 !important;
    border-color: #2c2c54 !important;
}


.btn-dark{
    background-color: #1e272e !important;
}