
<br>

    <div class="container">
        <div class="jumbotron text-center shadow">
            <img src="../../../assets/empresa.png" width="140" height="140">
            <h2 class="h2 text-center display-4 ">Select company</h2>
            <br>
            <br>
            <hr>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-primary" disabled>producer</button>
                </div>
                <select class="custom-select" id="inputGroupSelect01" (change)="SetUser($event)">
                    <option *ngFor="let producer of producers" value="{{producer.id_prod}}">{{producer.nombre_prod}}</option>
                </select>
            </div>
            <hr>
            <br>
            <br>
            <div class="container ">
                
                    <a routerLink="">
                        <button type="button" class="btn btn-dark btn-lg " >
                            return to home screen
                        </button>    
                    </a>
                
                    <button type="button" class="btn btn-primary btn-lg " (click)="Login()">
                        login
                    </button>
                    
                
                
   
            </div>
        </div>
    </div>

