<div class="container">
    <div class="row">
      <!-- producer -->
      
      <div class="col-xl-6 col-md-6 mb-4">
        <a routerLink="producer">
        <div class="card border-0 shadow">
          <img src="../../../assets/producerCompany.jpg" class="card-img-top" alt="Responsive image">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Producer</h5>
            <div class="card-text text-black-50">IFRA company</div>
          </div>
        </div>
        </a>
      </div>
    
      <!-- provider -->
      
      <div class="col-xl-6 col-md-6 mb-4">
        <a routerLink="provider">
        <div class="card border-0 shadow">
          <img src="../../../assets/providerCompany.jpg" class="card-img-top" alt="Responsive image">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Provider</h5>
            <div class="card-text text-black-50">IFRA company</div>
          </div>
        </div>
        </a>
      </div>
    </div>
  
  </div>