/* You can add global styles to this file, and also import other style files */
//imports
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');


//whole app body
body 
{
    font-family: "Raleway",sans-serif !important;
    
        background: url(assets/Fondo.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    
    
    
}

//puedes poner tus clases de bootstrap aqui

.btn-outline-primary{
    border-color: #ffff !important;
    color:#ffff;
}

.btn-outline-primary:hover{
    border-color: #40407a !important;
    color:#ffff;
    background-color: #40407a !important;
}

.btn-outline-danger{
    border-color: #ff5252 !important;
    color: #ff5252;

}

.btn-outline-danger:hover{
    border-color: #ff5252 !important;
    color:#ffff;
    background-color: #ff5252 !important;

}

.btn-primary{
    border-color: #40407a !important;
    color:#ffff;
    background-color: #40407a !important;
}

.btn-primary:hover{
    border-color: #2c2c54 !important;
    color:#ffff;
    background-color: #2c2c54 !important;
}

.table{
    background-color: white;
}